* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 20px 90px;
    height: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.menu li {
    margin-right: 50px;

    list-style: none;
}
.menu a {
    text-decoration: none;
    color: #575757;
}

.menu a:hover {
    text-decoration: none;
    color: brown;
}

.blue-btn {
    background-color: #2954e8;
    color: white;
    border-radius: 12%;
    border: none;
    padding: 8px;
    cursor: pointer;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;
    width: 800px;
}

.hero-content h1 {
    font-size: 70px;
    font-weight: 800;
}

.hero-content em {
    font-style: italic;
}
.hero-content p {
    margin: 30px 0;
    font-size: 20px;
    line-height: 1.6;
}